/* welcome */

.welcome{
	font-family: 'Permanent Marker', cursive;
	list-style: none;
	text-decoration: none;
}


/*  Menu  */
#menu {
	font-family: 'Permanent Marker', cursive;
	display: block;
	border-style: ridge;
	border-color: black;

	width: 100%;
	height: max-content;
	position: fixed;
	overflow: hidden;
	background-color:cadetblue;
  }
  
div.toolbar{
	float: right;
}

button.item {
    background-color: transparent;
    border: transparent;
	cursor: pointer;
	text-shadow: 2px 2px 5px black;
	font-family:fantasy;
	float: left;
	color: #f2f2f2;
	text-align: center;
	margin: 10px;
	padding: 14px;
	text-decoration: none;
	font-size: 25px;
  }
  
#menu button.item:hover {
	background-color: #ddd;
	color:black;
	text-shadow: 2px 2px 5px white;
	border-radius: 25px;

  }

/*  Contact  */

  .contact{
	margin: 15px;
	border-radius: 25px;
	margin-right: 12px;
	padding-right: 20px;
	
	font-family:Goudy Old Style;
	color: white;
	
	font-size: 20px;

	
}

input[type=text], input[type=email] {
	margin-left: 15px;
	margin-top: 15px;
	width: 20%;
	vertical-align: top;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 4px;
  }

textarea {
	
	margin-top: 15px;
	margin-left: 15px;
	width: 50%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #111111;
	border-radius: 4px;
	vertical-align: top;
	background-color: #f8f8f8;
	resize: none;
  }

  input[type=button]{
	
	margin-left: 15px;
	background-color:rgba(6, 117, 108, 0.918);
	border: none;
	color: white;
	margin-top: 15px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	border: 2px solid #0f0f0f;
	font-family: fantasy;

  }

  /* Log in */
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    vertical-align: center;
  }

/* Canvas */
	#Canvas{ 
	/* outline: whitesmoke 8px Double ;
	border-width: thin;
	border-radius: 5%; */
	/* background-color: black;
	border-color: black; */
	width: 100%;
	height: 100%;
}

  button{
	background-color: black;
	color: white;
  }



/* play game screen */
  #play_game{
	background-image: url('photos/space_star.jpg');

  }
  .game_container{
	width: 100vw;
	height: 100vh;

	display: grid;

	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px 1fr 1fr 100px;

	gap: 10px;
	padding: 10px;
  }

  /* .container div{
	padding: 10px;
	border: 1px solid black; 
  } */

  .header{
	grid-column-start:1;
	grid-column-end: 5;

  }

  .canvas{  
	border-radius: 5%;
	outline: rgb(109, 107, 107) 6px Double;
	/* background: linear-gradient(45deg, rgb(27, 27, 94), rgb(2, 61, 56), rgb(6, 6, 53)); */ 
	grid-row-start: 2;
	grid-row-end: span 2;
	grid-column-start: 2;
	grid-column-end: 4;

  }

  .game_features{
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
  }

  .menu{
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 4;
	grid-column-end: 5;
  }

  .footer{
		grid-column: 1 / span 4;
  }

  /* welcome screen */
  .W_container{
	
	display: grid;

	grid-template-columns: 2fr 1fr;
	grid-template-rows: 50px 2fr 2fr 100px;

	gap: 10px;
	padding: 0px;
  }

  .W_header{
	grid-column:1/span 2;

  }

  .game_name{
	grid-row: 2/ span 1;
	grid-column: 1/ span 1;
	text-align: center;
 	margin-top: 5%; /* Instead of fixed pixel value */
    margin-right: 10%; /* Instead of fixed pixel value */
	font-size: 80px;
	text-shadow: black 1px 1px 5px;
	color: whitesmoke;
	font-family: 'Permanent Marker', cursive;

  }

  .game_img{
	grid-row: 3/ span 1;
	grid-column: 1/ span 1;
  }

  .sign_log{
	grid-row: 2/ span 2;
	grid-column: 2/ span 1;

  }

  .icons{
	grid-row: 4/ span 1;
	grid-column:1/span 2;
  }

  .welcome{
	width: 100%;
	height: 100%;
	/* position: fixed; */
    left: 0;
    top: 0;
	/* background-image:linear-gradient(to right, rgb(4, 41, 44), rgb(6, 82, 82));; */
	background-image: url("photos/space2.gif");
	background-size: cover;

	
  }


  .sign_log{

	text-align: center;
	margin-top: 100px;
	margin-right: 100px;
  }

  button.W_item{
	top: -10px;
	left: -10px;
	background: #0f0f0f;
	cursor: pointer;
	text-shadow: 2px 2px black;
	font-family:fantasy;
	float: left;
	color: #f2f2f2;
	width: 50%;

	text-align: center;
	margin: 20px;
	padding: 14px;
	font-size: 30px;
	background: linear-gradient(45deg, red,  purple,  yellow, blue, yellow, purple);
	z-index: -1;
	box-shadow: 0 1em 1em black;
	background-size: 400%;
	animation: borderbg 40s linear infinite;
	border-radius: 2em;

  }

  button.W_item:hover{
	color: black;
	text-shadow: 1px 1px white;
  }

  @keyframes borderbg{
	0%{
		background-position: 0 0;
	}

	25%{
		background-position:25% 0;
		}

	50%{
		background-position: 50% 0;

	}
	75%{
		background-position: 75% 0;

	}
	100%{
		background-position: 0 0;

	}
  }

  .icons i{
	display: block;
	margin-bottom: 26px;
	font-size: 24px;
	color: white;
	transition: all .50s ease;

  }

/* sign in */
  #sign_in, #log_in{
	/* background: linear-gradient(60deg, rgb(2, 7, 71), rgb(7, 18, 168), rgb(112, 112, 204)); */
	/* width: 100%;
	height: 100%;
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; */
	background-image: url("photos/space2.gif");
	background-size: cover;

	text-align: center;
	/* font-family: 'Permanent Marker', cursive; */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: 3px 2px rgb(0, 0, 0);
	


	text-shadow: black 2px 1px 5px;
	color: whitesmoke;
  }

  #sign_in button, #log_in button, #play_game_btn, .game_btn{
	box-shadow: 6px 6px 0 rgb(0, 0, 0);
	background-color: rgb(246, 246, 248);
	/* background: black; */
	color: white;
	padding: 15px;
	border-radius: 1em;
	border: black;
	font-size: 15px;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	cursor: pointer;
	background: linear-gradient(45deg, rgb(3, 9, 66),  rgb(38, 36, 114), rgb(14, 55, 131));

	z-index: -1;
	text-shadow: 3px 2px black;
  }

	#sign_in button:hover, #log_in button:hover, #play_game_btn:hover, .game_btn:hover{
		color: black;
		background: linear-gradient(45deg, rgb(12, 102, 102),  rgb(244, 244, 247), rgb(12, 124, 158));
		
		text-shadow: 1px 1px white;
		
	}

.game_btn{

	border: #ccc;
}


.game_features{
	text-align: center;
	margin:auto;
	color:#f2f2f2;
}

  

  #log_in{
	width: 100%;
	height: 100%;
	/* position: fixed; */
    left: 0;
    top: 0;
    z-index: 10;
  }

  .B_left{
	margin-right: 20px;
  }

  .B_right{
	margin-left: 20px;
  }

  /* configuration */

  #configuration{

	background-image: url("photos/space2.gif");
	background-size: cover;
	width: 100%;
    height: 100%; 
	margin:auto;
	/* position: fixed;

  
	/* left: 0;
    top: 0;
	width: 100vw;
	height: 100vh; */
  }

  #configuration .container{

	display: grid;
	/* width: 100%;
	height: 100%;
	position: fixed;*/

    left: 0;
    top: 0;
	width: 100vw;
	height: 100vh;

	grid-template-columns: 1fr;
	grid-template-rows: 1fr 5fr 1fr;

	gap: 10px;
	padding: 0px;
  }

  #configuration .container .header{
	grid-row:1/ span 1;
	grid-column:1/span 1;
  }

  #configuration .container .conf{
	grid-row:2/ span 1;
	grid-column:1/span 1;
	color: white;
	font-size: 20px;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	

  }

  #configuration .container .footer{
	grid-row:3/ span 1;
	grid-column:1/span 1;
  }

  .config_button{
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background-size: cover;
	background-color: transparent;
	cursor: pointer;
	transition: top, left, right, bottom, 100ms, ease-in-out;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: -1;
	border-radius: 10px;
	border: 3px solid black;
  }

  .config_button:hover{
	border: 3px solid white;
  }
  .selected {
	border: 3px solid white !important;
}

  #playerButton1{
	background-image: url("photos/player_photo1.png");
  }

  #playerButton2{
	background-image: url("photos/player_photo2.png");
  }

  #playerButton3{
	background-image: url("photos/player_photo3.png");
  }


  #bulletButton1{
	background-image: url("photos/bullet_photo2.png");
  }

  #bulletButton2{
	background-image: url("photos/bullet_photo3.png");
  }

  #bulletButton3{
	background-image:  url("photos/bullet_photo4.png");
  }

  #EbulletButton1{
	background-image:  url("photos/bullet_photo5.png");
  }

  #EbulletButton2{
	background-image:  url("photos/bullet_photo6.png");
  }

  #EbulletButton3{
	background-image:  url("photos/bullet_photo7.png");
  }

  
/* CSS styles for modal dialog or custom overlay */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    margin-top: 0;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.button-container button:hover {
    background-color: #0056b3;
}

  

