
/* model dialogs */
#myDialog::backdrop {
	background: #0f0f0f;
	opacity: .3;
	font-family: fantasy;
}

#myInstraction::backdrop {
	background: #0f0f0f;
	opacity: .3;
	font-family: fantasy;
}

button.close {
	background: transparent;
	color: black;
	font-size: large;
	border-radius: 5px;
}

button.close:hover {
	background: transparent;
	color: rgb(194, 7, 7);
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

.model {
	font-family: fantasy;
	
}

/*  body  */
body {
	width: 95%;
	height: 97%;
	/* margin: auto; */
	display: grid;
	grid-template-rows: 10% 80% 10%;
	grid-template-columns: 100%;
	background: url('photos/space2.gif');
	background-size: cover;


}

.logo {
	right: auto;
	margin-top: 3%;
}

/* for menu in the header */
button.menu_item {
	padding-top: 40px;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
	text-shadow: 2px 2px 5px black;
	font-family: fantasy;
	float: left;
	color: #f2f2f2;
	font-size: 150%;

}

button.menu_item:hover {

	color: rgb(189, 66, 9);
	text-shadow: 2px 2px 2px white;


}

div#header {
	/* position: fixed; */
	background: none;
	padding: 0 2rem;
	margin: auto;
	grid-row: 1/span 1;
	grid-column: 1/span 1;
	width: 95%;
	height: 100%;
	/* flex: 0 1 100%; */
}

div#main {
	margin: auto;
	grid-row: 2/span 1;
	grid-column: 1/span 1;
	width: 100%;
	height: 100%;
}


#footer {
	grid-row: 3/span 1;
	grid-column: 1/span 1;
	color: white;
	bottom: 0px;
	text-align: center;
	/* padding-top: 2%; */
}



li {
	list-style: none;
}

.navbar .links {

	margin-right: 2%;
	margin-right: 2%;
	display: flex;
	gap: 3rem;
}

.navbar {

	background-color: transparent;
	border: transparent;
	cursor: pointer;
	text-shadow: 2px 2px 5px black;
	font-family: fantasy;
	float: left;
	color: #f2f2f2;
	text-align: center;
	margin: 0 auto;
	display: flex;
	align-items: center;
	width: 100%;
	height: 5%;
	justify-content: space-between;
	text-decoration: none;
	font-size: 15px;
}





/* Log in */
/* Full-width input fields */
input {
	width: 40%;
	padding: 0.5%;
	margin: 0.3%;
	display: inline-block;
	/* border: 1px solid #ccc; */
	box-sizing: border-box;
	vertical-align: center;
	text-align: center;
}

/* Canvas */
.canvas#Canvas {
	border-radius: 5%;
	outline: rgb(109, 107, 107) 6px Double;

}

.canvas {

	border-radius: 5%;
	outline: rgb(109, 107, 107) 6px Double;
	grid-row: 1/span 1;
	grid-column-start: 2/span 1;
}

.canvas_container {
	/* margin-top:%; */
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
}

.canvas-bg-winning {
	background-image: url('photos/winning_background.png');
	background-size: 100% 100%;
}

.canvas-bg-losing {
	background-image: url('photos/losing_background.png');
	background-size: 100% 100%;
}

.canvas-bg-timeOver {
	background-image: url('photos/timeOver_background.png');
	background-size: 100% 100%;
}

button {
	background-color: black;
	color: white;
}



/* play game screen */
#play_game {
	background-image: url('photos/space_star.jpg');
	width: 100%;
	height: 100%;

}

.game_container {
	width: 100%;
	height: 100%;
	gap: 10px;
	display: grid;
	font-family: fantasy;
	grid-template-columns: 20% 80%;
	grid-template-rows: 100%;

}

.game_features {
	grid-row: 1/span 1;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-top: 29px;
	margin-bottom: 0;
	width: 100%;
	height: 100%;
	font-family: fantasy;
	font-size: 100%;
}

.feature_button {
	background-color: transparent;
	font-family: fantasy;
	font-size: 130%;


}

/* welcome screen */
.W_container {
	width: 100%;
	height: 100%;
	display: grid;

	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr;


	gap: 10px;
	padding: 0px;
}

/* for ID in the welcome page */
.W_header {
	color: #f2f2f2;
	font-family: fantasy;
	font-size: 20px;
}


.game_name {
	grid-row: 1/ span 1;
	grid-column: 1/ span 1;
	text-align: center;
	margin-top: 5%;
	/* Instead of fixed pixel value */
	margin-right: 10%;
	/* Instead of fixed pixel value */
	font-size: 80px;
	text-shadow: black 1px 1px 5px;
	color: whitesmoke;
	font-family: 'Permanent Marker', cursive;

}

.sign_log {
	grid-row: 1/ span 1;
	grid-column: 2/ span 1;
	text-align: center;
	margin-top: 10%;
	/* margin-right: 100px; */
}


.welcome {
	width: 100%;
	height: 100%;
	background-size: cover;

}




button.W_item {

	background: #0f0f0f;
	cursor: pointer;
	text-shadow: 2px 2px black;
	font-family: fantasy;
	float: left;
	color: #f2f2f2;
	width: 50%;
	transition: 350ms ease;
	text-align: center;
	margin: 5%;
	padding: 5%;
	font-size: 150%;
	background: linear-gradient(45deg, red, purple, yellow, blue, yellow, purple);
	z-index: -1;
	box-shadow: 0 1em 1em black;
	background-size: 400%;
	animation: borderbg 40s linear infinite;
	border-radius: 2em;

}

button.W_item:hover {
	color: black;
	text-shadow: 1px 1px white;
	transform: scale(1.08);
}

@keyframes borderbg {
	0% {
		background-position: 0 0;
	}

	25% {
		background-position: 25% 0;
	}

	50% {
		background-position: 50% 0;

	}

	75% {
		background-position: 75% 0;

	}

	100% {
		background-position: 0 0;

	}
}

.icons i {
	display: block;
	margin-bottom: 26px;
	font-size: 24px;
	color: white;
	transition: all .50s ease;

}

/* sign in */
#sign_in,
#log_in {
	width: 100%;
	height: 80%;
	text-align: center;
	/* font-family: 'Permanent Marker', cursive; */
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: 3px 2px rgb(0, 0, 0);
	text-shadow: black 2px 1px 5px;
	color: whitesmoke;
}
.B_right,
.B_left,
#sign_in button,
#log_in button,
#play_game_btn,
.game_btn,
#btnYes,
#btnNo {

	box-shadow: 6px 6px 0 rgb(0, 0, 0);
	background-color: rgb(246, 246, 248);
	/* background: black; */
	color: white;
	padding: 10px;
	border-radius: 1em;
	border: black;
	font-size: 10px;
	text-align: center;
	font-family: fantasy;
	cursor: pointer;
	background: linear-gradient(45deg, rgb(3, 9, 66), rgb(38, 36, 114), rgb(14, 55, 131));

	z-index: -1;
	text-shadow: 3px 2px black;
}

#sign_in button:hover,
#log_in button:hover,
#play_game_btn:hover,
.game_btn:hover,
#btnYes:hover,
#btnNo:hover,
.B_right:hover,
.B_left:hover{
	color: black;
	background: linear-gradient(45deg, rgb(12, 102, 102), rgb(244, 244, 247), rgb(12, 124, 158));

	text-shadow: 1px 1px white;

}

.game_btn {

	border: #ccc;
}


.game_features {
	text-align: center;
	margin: auto;
	color: #f2f2f2;
}


.B_left {
	margin-right: 10px;
}

.B_right {
	margin-left: 10px;
}

/* footer */
.icons {
	/* margin: auto; */
	font-family: fantasy;
	font-size: 12px;
	display: flex;
	gap: 0.7rem;
	padding-top: 2%;
	
}



/* configuration */
#inputTime,
#selectKey {
	font-family: fantasy;
	width: 10%;
	padding: 0.5%;
	margin: 0.3%;
	display: inline-block;
	/* border: 1px solid #ccc; */
	box-sizing: border-box;
	vertical-align: center;
	text-align: center;
}

#configuration {

	width: 100%;
	height: 100%;
	margin: auto;

}

#configuration .container {
	margin-top: 5%;
	display: grid;
	width: 100%;
	height: 100%;
	/* position: fixed;*/

	left: 0;
	top: 0;
	/* width: 100vw;
	height: 100vh; */

	grid-template-columns: 100%;
	grid-template-rows: 100%;

	gap: 10px;
	padding: 0px;
}

.conf_container {
	text-align: center;
	color: white;
	font-size: 150%;
	font-family: fantasy;
}

/* #configuration .container*/
.conf {
	grid-row: 1/ span 1;
	grid-column: 1/span 1;
	color: white;
	font-size: 80%;
	text-align: center;
	font-family: fantasy;


}

.config_button {

	margin-right: 5px;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background-size: cover;
	background-color: transparent;
	cursor: pointer;
	transition: top, left, right, bottom, 100ms, ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	border-radius: 10px;
	border: 3px solid black;
}

.config_button:hover {
	border: 3px solid white;
}

.selected {
	border: 3px solid white !important;
}

#playerButton1 {
	background-image: url("photos/player_photo1.png");
}

#playerButton2 {
	background-image: url("photos/player_photo2.png");
}

#playerButton3 {
	background-image: url("photos/player_photo3.png");
}


#bulletButton1 {
	background-image: url("photos/bullet_photo2.png");
}

#bulletButton2 {
	background-image: url("photos/bullet_photo3.png");
}

#bulletButton3 {
	background-image: url("photos/bullet_photo4.png");
}

#EbulletButton1 {
	background-image: url("photos/bullet_photo5.png");
}

#EbulletButton2 {
	background-image: url("photos/bullet_photo6.png");
}

#EbulletButton3 {
	background-image: url("photos/bullet_photo7.png");
}


/* CSS styles for modal dialog or custom overlay */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-content {
    background-color: black;
    max-width: 10%;
	color: white;
	border-color: #fff;
	border-style: double;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 150%;
	margin-top: 5%;
    margin-left: 3%; /* adjust this value to move the modal to the desired position */
}

.button-container {
	margin-top: 20px;
}

.button-container button {
	margin: 0 10px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.button-container button:hover {
	background-color: #0056b3;
}