/*  Menu  */
#menu {
	display: block;
	border-style: ridge;
	border-color: black;

	width: 100%;
	height: max-content;
	position: fixed;
	overflow: hidden;
	background-color:cadetblue;
  }
  
div.toolbar{
	float: right;
}

button.item {
    background-color: transparent;
    border: transparent;
	cursor: pointer;
	text-shadow: 2px 2px 5px black;
	font-family:fantasy;
	float: left;
	color: #f2f2f2;
	text-align: center;
	margin: 10px;
	padding: 14px;
	text-decoration: none;
	font-size: 25px;
  }
  
#menu button.item:hover {
	background-color: #ddd;
	color:black;
	text-shadow: 2px 2px 5px white;
	border-radius: 25px;

  }

/*  Contact  */

  .contact{
	margin: 15px;
	border-radius: 25px;
	margin-right: 12px;
	padding-right: 20px;
	
	font-family:Goudy Old Style;
	color: white;
	
	font-size: 20px;

	
}

input[type=text], input[type=email] {
	margin-left: 15px;
	margin-top: 15px;
	width: 20%;
	vertical-align: top;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 4px;
  }

textarea {
	
	margin-top: 15px;
	margin-left: 15px;
	width: 50%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #111111;
	border-radius: 4px;
	vertical-align: top;
	background-color: #f8f8f8;
	resize: none;
  }

  input[type=button]{
	
	margin-left: 15px;
	background-color:rgba(6, 117, 108, 0.918);
	border: none;
	color: white;
	margin-top: 15px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	border: 2px solid #0f0f0f;
	font-family: fantasy;

  }

  /* Log in */
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    vertical-align: center;
  }

/* Canvas */
#Canvas{
	background-color: black;
	border-color: black;
    border: 1px solid #000; 
    position:absolute;
    /* top:100px;
    left:center; */
    z-index:2;
    top:100px;
    right:0;
    left:0;
  }

  /* .game_screen{
	display:inline-block;
	width:
  } */