/* model dialogs */
#myDialog::backdrop{
	background: #0f0f0f;
	opacity: .3;
}

#myInstraction::backdrop{
	background: #0f0f0f;
	opacity: .3;
}

button.close{
	background: transparent;
	color: black;
	font-size: large;
	border-radius: 5px;
}

button.close:hover{
	background: transparent;
	color: rgb(194, 7, 7);
}

p{
	font-family: Arial, Helvetica, sans-serif;
}
/*  body  */
body {
	padding: 10px;
	margin: auto;
	display: grid;
	grid-template-rows: 0.5fr 12fr 0.5fr;
	grid-template-columns: 1fr;
	background: url('photos/space2.gif');
	background-size: cover;
  }
  
.logo{
	right:auto;
	margin-top: 10px;
}

/* for menu in the header */
button.menu_item{
	padding-top: 20px;
	background-color: transparent;
    border: transparent;
	cursor: pointer;
	text-shadow: 2px 2px 5px black;
	font-family:fantasy;
	float: left;
	color: #f2f2f2;
	font-size: 15px;
  }

button.menu_item:hover {

	color:rgb(189, 66, 9);
	text-shadow: 2px 2px 2px white;


  }

div#header{
	position: fixed;
	background: none;
	position: relative;
	padding: 0 2rem;
	margin: auto;
	grid-row: 1/span 1;
	grid-column: 1/span 1;
	width: 100%;
	height: 100%;
}

div#main{

	margin: auto;
	grid-row: 2/span 1;
	grid-column: 1/span 1;
	width: 100%;
	height: 100%;
}
  

#footer{
	color:#f2f2f2;
}


li{
	list-style: none;
}
.navbar .links{

	margin-right: 2%;
	margin-right: 2%;
	display:flex;
	gap: 3rem;
}

.navbar{
	
    background-color: transparent;
    border: transparent;
	cursor: pointer;
	text-shadow: 2px 2px 5px black;
	font-family:fantasy;
	float: left;
	color: #f2f2f2;
	text-align: center;
	margin: 0 auto;
	display:flex;
	align-items: center;
	width: 100%;
	height: 5%;
	justify-content: space-between;
	text-decoration: none;
	font-size: 15px;
  }
  



  
  /* Log in */
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    vertical-align: center;
  } */

/* Canvas */
.canvas#Canvas{ 

    /* left: 0;
    right: 0; */
    /* margin:auto; */
	border-radius: 5%;
	outline: rgb(109, 107, 107) 6px Double;
	
}

.canvas{  

	border-radius: 5%;
	outline: rgb(109, 107, 107) 6px Double;
    /* padding-bottom:10px; */
	grid-row: 1/span 1;
	grid-column-start: 2/span 1;
  }

  .canvas_container{
	margin-top:10%;
	margin-bottom:5%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
  }

.canvas-bg-winning {
	background-image: url('photos/winning_background.png');
	background-size: 100% 100%;
  }
  .canvas-bg-losing {
	background-image: url('photos/losing_background.png');
	background-size: 100% 100%;
  }
  .canvas-bg-timeOver {
	background-image: url('photos/timeOver_background.png');
	background-size: 100% 100%;
  }

  button{
	background-color: black;
	color: white;
  }



/* play game screen */
  #play_game{
	background-image: url('photos/space_star.jpg');
	width: 100%;
	height: 100%;

  }
  .game_container{
	width: 100%;
	height: 100%;
	gap: 10px;
	
	display: grid;

	grid-template-columns: 1fr 5fr;
	grid-template-rows: 5fr;


  }

  .game_features{
	grid-row: 1/span 1;
	grid-column-start: 1;
	grid-column-end: 2;
  }



  /* welcome screen */
  .W_container{
	width: 100%;
	height: 100%;
	display: grid;

	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr;


	gap: 10px;
	padding: 0px;
  }
  
  /* for ID in the welcome page */
  .W_header{
	color: #f2f2f2;
	font-family:fantasy;
	font-size: 20px;
  }


  .game_name{
	grid-row: 1/ span 1;
	grid-column: 1/ span 1;
	text-align: center;
 	margin-top: 5%; /* Instead of fixed pixel value */
    margin-right: 10%; /* Instead of fixed pixel value */
	font-size: 80px;
	text-shadow: black 1px 1px 5px;
	color: whitesmoke;
	font-family: 'Permanent Marker', cursive;

  }

  .sign_log{
	grid-row: 1/ span 1;
	grid-column: 2/ span 1;

  }


  .welcome{
	width: 100%;
	height: 100%;
	background-size: cover;

	
  }


  .sign_log{
	text-align: center;
	margin-top: 100px;
	margin-right: 100px;
  }

  button.W_item{
	top: -10px;
	left: -10px;
	background: #0f0f0f;
	cursor: pointer;
	text-shadow: 2px 2px black;
	font-family:fantasy;
	float: left;
	color: #f2f2f2;
	width: 50%;

	text-align: center;
	margin: 20px;
	padding: 14px;
	font-size: 30px;
	background: linear-gradient(45deg, red,  purple,  yellow, blue, yellow, purple);
	z-index: -1;
	box-shadow: 0 1em 1em black;
	background-size: 400%;
	animation: borderbg 40s linear infinite;
	border-radius: 2em;

  }

  button.W_item:hover{
	color: black;
	text-shadow: 1px 1px white;
  }

  @keyframes borderbg{
	0%{
		background-position: 0 0;
	}

	25%{
		background-position:25% 0;
		}

	50%{
		background-position: 50% 0;

	}
	75%{
		background-position: 75% 0;

	}
	100%{
		background-position: 0 0;

	}
  }

  .icons i{
	display: block;
	margin-bottom: 26px;
	font-size: 24px;
	color: white;
	transition: all .50s ease;

  }

/* sign in */
  #sign_in, #log_in{
	width: 100%;
	height: 100%;

	text-align: center;
	/* font-family: 'Permanent Marker', cursive; */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: 3px 2px rgb(0, 0, 0);
	


	text-shadow: black 2px 1px 5px;
	color: whitesmoke;
  }

  #sign_in button, #log_in button, #play_game_btn, .game_btn{
	box-shadow: 6px 6px 0 rgb(0, 0, 0);
	background-color: rgb(246, 246, 248);
	/* background: black; */
	color: white;
	padding: 15px;
	border-radius: 1em;
	border: black;
	font-size: 15px;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	cursor: pointer;
	background: linear-gradient(45deg, rgb(3, 9, 66),  rgb(38, 36, 114), rgb(14, 55, 131));

	z-index: -1;
	text-shadow: 3px 2px black;
  }

	#sign_in button:hover, #log_in button:hover, #play_game_btn:hover, .game_btn:hover{
		color: black;
		background: linear-gradient(45deg, rgb(12, 102, 102),  rgb(244, 244, 247), rgb(12, 124, 158));
		
		text-shadow: 1px 1px white;
		
	}

.game_btn{

	border: #ccc;
}


.game_features{
	text-align: center;
	margin:auto;
	color:#f2f2f2;
}

  

  #log_in{
	width: 100%;
	height: 100%;
	position: fixed;

    z-index: 10;
  }

  .B_left{
	margin-right: 20px;
  }

  .B_right{
	margin-left: 20px;
  }

  /* configuration */

  #configuration{

	width: 100%;
    height: 100%; 
	margin:auto;

  }

  #configuration .container{

	display: grid;
	width: 100%;
	height: 100%;
	/* position: fixed;*/

    left: 0;
    top: 0;
	/* width: 100vw;
	height: 100vh; */

	grid-template-columns: 1fr;
	grid-template-rows: 1fr 5fr;

	gap: 10px;
	padding: 0px;
  }

  #configuration .container .header{
	grid-row:1/ span 1;
	grid-column:1/span 1;
  }

  #configuration .container .conf{

	grid-row:2/ span 1;
	grid-column:1/span 1;
	color: white;
	font-size: 20px;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	

  }

  .config_button{
	width: 5%;
	height: 12%;
	margin-right: 5px;
	background-size: cover;
	cursor: pointer;
	transition: top, left, right, bottom, 100ms, ease-in-out;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: -1;
	border-radius: 10px;
	border: 3px solid black;
  }

  .config_button:hover{
	border: 3px solid white;
  }

  #playerButton1{
	background-image: url("photos/player_photo1.jpg");
  }

  #playerButton2{
	background-image: url("photos/player_photo2.jpg");
  }

  #playerButton3{
	background-image: url("photos/player_photo3.jpg");
  }

  #enemyButton1{
	background-image: url("photos/enemy_photo1.jpg");
  }

  #enemyButton2{
	background-image: url("photos/enemy_photo2.jpg");
  }

  #enemyButton3{
	background-image: url("photos/enemy_photo3.jpg");
  }

  #bulletButton1{
	background-image: url("photos/bullet_conf1.jpg");
  }

  #bulletButton2{
	background-image: url("photos/bullet_conf2.jpg");
  }

  #bulletButton3{
	background-image: url("photos/bullet_conf3.jpg");
  }

  #EbulletButton1{
	background-image: url("photos/bullet_conf1.jpg");
  }

  #EbulletButton2{
	background-image: url("photos/bullet_conf2.jpg");
  }

  #EbulletButton3{
	background-image: url("photos/bullet_conf3.jpg");
  }


  /* footer */
  .icons{
	margin:auto;

	display:flex;
	gap: 3rem;
  }
  
  



  

